<main class="section_main">
  <div class="secao-cesta">
      <b class="mensagem">{{mensagem}} </b>
      <hr class="separador">

      <div class="cesta-container">
          <div *ngFor="let item of cesta.itens" class="item-bloco">
              <div class="produto-imagem">
                  <img src="./{{item.codigo}}.jpg" alt="{{item.produto.nome}}">
              </div>
              <div class="produto-detalhes">
                  <p>{{item.produto.nome}}</p>
                  <p>Quantidade: {{item.quantidade}}</p>
                  <p>Valor: R$ {{item.produto.valor.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}}</p>
              </div>
              <button class="remover-btn" (click)="removerItem(item)">Remover</button>
          </div>
      </div>
      <hr class="separador">

      <div class="total-bloco">
          <p>Valor total: R$ {{cesta.total.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}}</p>
      </div>

      <div class="button-container">
          <button class ="button-limpar" (click)="limpar()" [disabled]="cesta.itens.length === 0">Limpar</button>
          <button class ="button-finalizar" *ngIf="cesta.itens.length > 0" (click)="gravarPedido()">Finalizar</button>
      </div>
  </div>
</main>
  
   
  