<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<header class="section_header">
    <div class="header_circulo_logo" (click)="IrVitrine()">
        <img src="./assets/borcellone.png" class="header_logo" alt="imagem da logo">
    </div>
        <div class="header_input">
            <input type="search" placeholder="Digite o que você prescisa" >
            <img src="./assets/iconSearch.svg" class="header_input_icon" alt="">
        </div>
        <div class="header_icons">
            <div class="menu-sanduiche" (click)="toggleMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="header_icons2">
            <img src="./assets/borcelle/userIcon.svg"
                      class="header_icon header_icons_perfil" alt="imagem do perfil" (click)="IrCadastro()">
              <div class="container-iconcar">
                  <img src="./assets/borcelle/carIcon.svg" class="header_icon header_icons_carrinho" alt=""
                  (click)="IrCesta()" />
                  <div class="header_icons_cicleCount">
                      <p class="header_icons_cicleCount_p">
                          0
                      </p>
                  </div>
                </div>   
              </div>
          </div> 
<div class="menu-itens" [class.open]="menuAberto">
    
</div>   
    </header>
           
            <!-- <div class="header_icons">
                <a href="./pagina-login.html"><img src="./assets/borcelle/userIcon.svg"
                        class="header_icon header_icons_perfil" alt="imagem do perfil"></a>
                <div class="container-iconcar">
                    <img src="./assets/borcelle/carIcon.svg" class="header_icon header_icons_carrinho" alt=""
                        onclick="switchCar()">
                    <div class="header_icons_cicleCount">
                        <p class="header_icons_cicleCount_p">
                            0
                        </p>
                      </div>
                    </div> -->
                  
    <!-- <div class="icon-vitrine">
        <i class="fa-solid fa-house" (click)="IrVitrine()"></i>
    </div>
    <div class="icon-login">
        <i class="fa-solid fa-user" (click)="IrCadastro()"></i>
    </div>
    <div class="icon-cesta">
        <i class="fa-solid fa-cart-shopping" (click)="IrCesta()"></i>
    </div> -->

<!-- <div class="header_icons">
    <a href="./pagina-login.html"><img src="./assets/borcelle/userIcon.svg"
            class="header_icon header_icons_perfil" alt="imagem do perfil" (click)="IrCadastro()"></a>
    <div class="container-iconcar">
        <img src="./assets/borcelle/carIcon.svg" class="header_icon header_icons_carrinho" alt=""
        (click)="IrCesta()" />
        <div class="header_icons_cicleCount">
            <p class="header_icons_cicleCount_p">
                0
            </p>
        </div>
    </div>  -->

<router-outlet />


