<!-- <div id="modalConfirmacaoCarrinho" class="modal" *ngIf="mostrarModalCarrinho">
  <div class="modal-conteudo">
    <h2>Produto adicionado ao carrinho!</h2>
    <button (click)="fecharModalCarrinho()">Fechar</button>
  </div>
</div>

<div id="modalConfirmacao" class="modal" *ngIf="mostrarModal">
  <div class="modal-conteudo">
    <h2>Confirmação</h2>
    <p>Você deseja adicionar este produto ao carrinho?</p>
    <button (click)="confirmarAdicao(produtoSelecionado)">Confirmar</button>
    <button (click)="cancelarAdicao()">Cancelar</button>
  </div>
</div> -->


<main class="section_main">
  <h1 class="mensagem">{{mensagem}}</h1>
  <h4 *ngIf="lista.length <= 0">Não há nenhum produto na vitrine</h4>
  <div class="container_cards">
    <div class="card" *ngFor="let item of lista" (click)="verDetalhe(item)">
      <img src="./{{item.codigo}}.jpg" alt="{{item.nome}}" class="card_img" (click)="verDetalhe(item)">
      <h3 class="card_titulo">{{item.nome}}</h3>
      <p class="card_preco">R$ {{item.valor.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}}</p>
      <button class="card_botao" *ngIf="item.quantidade" (click)="adicionarCesta(item)">
        Comprar
      </button>
    </div>
  </div>
</main>

<!-- 

<div class="container-vitrine">
  <h3 class="mensagem">{{mensagem}}</h3>
  <h4 *ngIf="lista.length <= 0">Não há nenhum produto na vitrine</h4>
  <div class="grade-produtos">
    <div class="item-produto" *ngFor="let item of lista">
      <img src="./{{item.codigo}}.jpg" alt="{{item.nome}}" width="200" (click)="verDetalhe(item)">
      <h4>{{item.nome}}</h4>
      <p>R$ {{item.valor.toLocaleString('pt-BR', { minimumFractionDigits: 2, maximumFractionDigits: 2 })}}</p>
      <button class="btnVerDetalhe" (click)="verDetalhe(item)">Ver Detalhes</button>
      <button class="btnComprar" *ngIf="item.quantidade" (click)="adicionarCesta(item)">Comprar</button>
    </div>
  </div>
</div>  -->

