/* * {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.form-box {
    background-color: #1e1e1e;
    border-radius: 15px;
    padding: 60px;
    width: 700px;
    margin-top: 40px;
    box-shadow: 0 0 20px #00b0ff;
    text-align: center;
}

h2 {
    color: white;
    margin-bottom: 60px;
    margin-top: -10px;
}

.mensagem {
    color: white;
    position: relative;
    top: -47px; 

}

.btn {
    background-color: #00b0ff;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
}

.btn:hover {
    background-color: #0090e0;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
    color: white;
}

.register-link button{
    color: #00b0ff;
    font-weight: bold;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;  
}

.register-link button:hover {
    text-decoration: underline;
}

#eyeIcon {
    color: white;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.toggle-password i {
    font-size: 20px;
    color: #333;
} */

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.container_cadastro{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--corPrincipalFraca);
    color: var(--corPrincipal);
}
.container_cadastro h1{
    color: var(--corPrincipal);
    font-size: 30px;
    font-weight: 700;
}
.container_forms{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--corSecundaria);
    border-radius: 15px;
    padding: 25px;
    width: 600px;
    height: 500px;
    max-width: 100%;
    margin-bottom: 100px;
    border: 5px  solid var(--corPrincipal);
    color: var(--corPrincipal);
}


form {
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form div{
    width: 100%;
    text-align: start;
}
label{
    display: block;
    font-weight: 500;
    align-self: flex-start;
    margin-bottom: 8px;
}
p{
    color: var(--corPrincipal);
    width: 100%;
    align-self: center;
}
.input{
    width: 100%;
    height: 30px ;
    padding-left: 10px;
    border: 2px solid var(--corPrincipal);
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
}
.content_input{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    border-style: none;
    border-radius: 24px;
    outline: none ;
    border: none;
    box-shadow: none;
}

#eyeIcon {
    color: var(--corVerdeClaro);
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.btn {
    background-color: var(--corPrincipalFraca);
    color: #ffff;
    font-weight: 400;
    font-size: 16px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
    width:30%;
}
.btn:hover {
    background-color: var(--corVerdeClaro);
}

 .forgot-pass a{
    color: var(--corPrincipal);
    margin-top: 10px;
}


.toggle-password i {
    font-size: 20px;
    color: #333;
}

@media (orientation: portrait) {
    .mensagem {
        font-size: 15px;
    }   
}
@media (max-width: 430px) {
    .btn{
        width: 50%;
    }
}