<div class="container_cadastro">
    <div class="container_forms">
        <h1>Esquecer senha</h1>
        <p class="mensagem">{{mensagem}}</p>
        <form>
            <div>
                <label>Email</label>
                <div class="input">
                    <input class="content_input" type="email" [(ngModel)]="obj.email" name="email" required>
                </div>
            </div> 
                <button  class="btn" (click)="reenviar()">Enviar</button>
            </form>
        </div>
    </div>
            
    <!-- <div class="container-esqueci">
    <div class="form-box">    
        <h2>Enviaremos um Email para a redefinição de senha</h2>
        <b class="mensagem">{{mensagem}}</b>
        <form>
            <div class="input-group">
                <input type="email" [(ngModel)]="obj.email" name="email" required>
                <label>E-mail</label>
            </div>
            <button  class="btn" (click)="reenviar()">Enviar</button>
        </form>
    </div>
</div> -->
