
:root{
    --corPrincipal:#1F5014;
    --corPrincipalFraca:#426F38;
    --corVerdeClaro:#2e9617e2;
    --corSecundaria:#FFC654;
    }

body {
    background-color: var(--corSecundaria);
    margin: 0;
    padding: 0;
    overflow-x: hidden;    
}


  

body::-webkit-scrollbar {
    width: 12px; 
}

  body::-webkit-scrollbar-track {
    background-color: var(--corPrincipalFraca);
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--corVerdeClaro); 
  }
  
p, h1, h2, h3{
    color: #ffff;
}
p{
    font-family:"Inter", sans-serif;    
}
h1, h2, h3{
    font-family: 'Bukhari Script', sans-serif;
    font-weight: 100;
}
link{
    border-radius: 100%;
}
