<div class="container_cadastro">
    <div class="container_forms">
        <h1>Reenviar senha</h1>
        <p class="mensagem">{{mensagem}}</p>
        <form>
            <div>
                <label>Email</label>
                <div class="input">
                    <input class="content_input" type="email" [(ngModel)]="obj.email" name="email" required>
                </div>
            </div> 
                <button  class="btn" (click)="reenviar()">Enviar</button>
            </form>
        </div>
    </div>
            
    